body {
  background-color: #a79fa1;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #a79fa1;
  color: #302e2e;
}

header,
main {
  text-align: center;
}

#introduction {
  border: 2px solid #302e2e;
  padding: 10px;
}

#introduction h2 {
  text-align: center;
}

#introduction p {
  max-width: 700px;
  margin: 0 auto; /* Center the paragraph horizontally */
  text-align: center;
  font-size: 17px;
}

.main-logo img {
  width: 100%;
  max-width: 300px;
  height: auto; /* Maintain aspect ratio */
  padding-bottom: 20px;
}

nav {
  background-color: #6d6466;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  max-width: 700px;
  margin: 0 auto; /* Center the navigation horizontally */
  border: 2px solid #302e2e;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  color: #e9e3e3;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  border: 2px solid #302e2e;
}

.left-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  margin-left: 40px;
}

.content p {
  font-size: 18px;
  line-height: 1.5;
}

main {
  padding-bottom: 100px;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #c0486c;
  color: white;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #e9e3e5;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid black;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
